# Python
__pycache__/
*.py[cod]
backend/venv/
backend/.venv/

# Environment files
.env
*.env

# SQLite database
*.db

# Node
frontend/node_modules/
frontend/dist/

# Vite local files
frontend/.vite/

# OS / editor
.vscode/
.DS_Store
Thumbs.db